.bg{
    background: url(images/bg-1.jpg);
  
 
}


  
.page-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #040404;
    margin-top:0;
    width: 100%;
    height: 80px;
    text-align: center;
}

.footer-copyright{
    text-align: center;
}

.container-fluid{
  margin-bottom: 100px;
}




